{% extends 'base_template.twig' %}

{% block content %}
    <div class="container">
        <h2>Home</h2>
        <p>Рассказываем о механических клавиатурах!</p>
        
        <h2>Типы свитчей</h2>
        <p>Существует несколько различных типов свитчей для механических клавиатур, каждый из которых имеет уникальные характеристики и ощущения при нажатии. Одни свитчи могут требовать большего усилия, другие – меньшего. Определяющие факторы – это сила нажатия, звук и тактильный отклик.<p>
    
        <p>Основные типы свитчей:</p>
        
        <p><b class="highlight">Tactile (тактильные)</b>: имеют небольшое усилие на старте, затем усилие слегка увеличивается, как бы преодолевая рубеж. Такие свитчи сопровождаются звуковым и тактильным откликом.</p>
        <p><b class="highlight">Linear (линейные)</b>: не имеют тактильного отклика или щелчка. Усилие нажатия остается постоянным на всем пути клавиши.</p>
        <p><b class="highlight">Clicky (кликающие)</b>: имеют яркий щелчок при нажатии на клавишу. Эти переключатели сопровождаются тактильным откликом.</p>

        <br>
        <div class="img-container">
            <img src="/static/images/home-1.png" alt="home-img-1" />
        </div>
        <br>
        
        <h2>Профили кейкапов</h2>

        <p>Простыми словами, профиль кейкапов — это вид кейкапов сбоку. Если чуть усложнить, то это различия рядов кейкапов по углу наклона, высоте и форме контактной площадки.</p>
        
        <p><b class="highlight">OEM</b>: самый распространенный профиль. Установлен на большинстве клав и общепринят как "стандартный".</p>
        <br>
        <div class="img-container">
            <img src="/static/images/home-2.png" alt="home-img-2" />
        </div>
        <br>

        <p><b class="highlight">Cherry</b>: профиль чем-то напоминает OEM, но при этом ниже и, субъективно, заходит большему количеству людей.</p>
        <br>
        <div class="img-container">
            <img src="/static/images/home-3.png" alt="home-img-3" />
        </div>
        <br>

        <p><b class="highlight">MDA</b>: достаточно плоский, но при этом рельефный профиль. Нижний ряд выпуклый.</p>
        <br>
        <div class="img-container">
            <img src="/static/images/home-4.png" alt="home-img-4" />
        </div>
        <br>
        
        <p><b class="highlight">SA</b>: олдскульный высокий профиль со сферическими углублениями из семейства Signature Plastics.</p>
        <br>
        <div class="img-container">
            <img src="/static/images/home-5.png" alt="home-img-5" />
        </div>
        <br>

        <p><b class="highlight">MT3</b>: ретроспективный профиль, вдохновленный Signature Plastics SA. Спроектировано с любовью.</p>
        <br>
        <div class="img-container">
            <img src="/static/images/home-6.png" alt="home-img-6" />
        </div>
        <br>

        <p><b class="highlight">ASA</b>: cобственная разработка Akko: со сферическими углублениями. По высоте похож на OEM профиль, но углубления здесь менее выраженные.</p>
        <br>
        <div class="img-container">
            <img src="/static/images/home-7.png" alt="home-img-7" />
        </div>
        <br>
    </div>
{% endblock %}




